{% extends "master.html" %}
{% load static %}

{% block title %}
landing page
{% endblock%}

{% block content %}
<div class="container">
    <div class="row text-center">
        <p class="h3">List of API</p>
    </div>


    <ul class="list-group">

        <li class="list-group-item list-group-item-primary"><a class="nav-link" href="{% url 'accounts:signup' %}">SignUp</a></li>
        <li class="list-group-item list-group-item-secondary"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
        <li class="list-group-item list-group-item-success"><a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a></li>
        <li class="list-group-item list-group-item-danger"><a class="nav-link" href="/administrator">Admin</a></li>
        <li class="list-group-item list-group-item-warning"><a class="nav-link" href="/api/schema/swagger-ui/">swagger-ui</a></li>
        <li class="list-group-item list-group-item-info"><a class="nav-link" href="{% url 'accounts:profile-update' %}">profile-update</a></li>
        <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'accounts:follow-list' request.user %}">follow list</a></li>
        <li class="list-group-item list-group-item-dark"><a class="nav-link" href="{% url 'accounts:follow' '@mohsen' %}">follow {{request.user.username}}</a></li>
        <li class="list-group-item ">A simple dark list group item</li>
    </ul>
</div>

{% endblock %}