{% extends "master.html" %}
{% load static %}

{% block title %}
landing page
{% endblock%}

{% block content %}
<div class="container">

    <div class="row text-center">
        <p class="h3">APIs of Account</p>
    </div>


    <ul class="list-group">
        <li class="list-group-item list-group-item-secondary"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
        <li class="list-group-item list-group-item-primary"><a class="nav-link" href="{% url 'accounts:signup' %}">SignUp</a></li>
        <li class="list-group-item list-group-item-success"><a class="nav-link" href="{% url 'accounts:profile-list' %}">profile-list</a></li>
        <li class="list-group-item list-group-item-light"><a class="nav-link" href="{% url 'accounts:profile-detail' request.user.id %}">profile-detail</a></li>
        <li class="list-group-item list-group-item-info"><a class="nav-link" href="{% url 'accounts:profile-update'%}">profile-update</a></li>
        <li class="list-group-item list-group-item-success"><a class="nav-link" href="{% url 'accounts:follower-following-list' %}">follower-following-list</a></li>
        <li class="list-group-item list-group-item-primary"><a class="nav-link" href="{% url 'accounts:follower-following-detail' request.user.id %}">follower-following-detail</a></li>
        <li class="list-group-item list-group-item-secondary"><a class="nav-link" href="{% url 'accounts:follow-action' %}">follow-action</a></li>
        <li class="list-group-item list-group-item-danger"><a class="nav-link" href="{% url 'accounts:unfollow-action' %}">unfollow-action</a></li>
        <li class="list-group-item list-group-item-warning"><a class="nav-link" href="/api/schema/swagger-ui/">swagger-ui</a></li>
        <li class="list-group-item list-group-item-dark"><a class="nav-link" href="#">follow {{request.user.username}}</a></li>
        <li class="list-group-item list-group-item-danger"><a class="nav-link" href="/administrator">Admin</a></li>
        <li class="list-group-item list-group-item-warning"><a class="nav-link" href="###">##</a></li>
    </ul>
    <hr>
    <div class="row text-center">
        <p class="h3">APIs of Content</p>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary"><a class="nav-link" href="{% url 'content:post-list' %}">list of post</a></li>
        <li class="list-group-item list-group-item-secondary"><a class="nav-link" href="{% url 'content:post-detail' 1 %}">post detail</a></li>
        <li class="list-group-item list-group-item-success"><a class="nav-link" href="{% url 'content:viewsetpost-list' %}">post-view-set</a></li>
        <li class="list-group-item list-group-item-danger"><a class="nav-link" href="/administrator"></a></li>
        <li class="list-group-item list-group-item-warning"><a class="nav-link" href="/api/schema/swagger-ui/"></a></li>
        <li class="list-group-item list-group-item-info"><a class="nav-link" href="#"></a></li>
        <li class="list-group-item list-group-item-light"><a class="nav-link" href="#"></a></li>
        <li class="list-group-item list-group-item-dark"><a class="nav-link" href="#"></a></li>
    </ul>
</div>

{% endblock %}